# Finder related file
.DS_Store

# Eclipse files
.project
.cproject
Debug/**/*
Release/**/*
.settings/**/*

# Typical swap buffers
*~

# Vim files
*.vim
*.swp

# Binary files
*.[oa]

# Mysterious files...
*.gch

# Xcode files
*.xcodeproj


# Scene fileformats
*.blend
*.obj
*.mtl
*.x3d
*.3ds
*.dae
/my_settings
/memorial.jpg
/memorial.exr
/memorial.hdr
/memorial.png

# pdflatex files
doc/tex/*
