# Finder related file
.DS_Store

# Eclipse files
.project
.cproject
Debug/**/*
Release/**/*
.settings/**

# Typical swap buffers
*~

# Vim files
*.vim
*.swp

# Binary files
*.[oa]

# Mysterious files...
*.gch

# Xcode files
*.xcodeproj


# Scene fileformats
*.blend
*.obj
*.mtl
*.x3d
*.3ds
*.dae
/my_settings
/memorial.jpg
/memorial.exr
/memorial.hdr
/memorial.png
settings.xml

# Images
*.png
*.jpg

# pdflatex files
doc/tex/*
/doc
/cornell_glossy.png
/cornell.png
/cornell_glossy.xml
/car.png
/checkerboard.jpg
/test.png
/settings.xml
/tree.xml

/.settings/org.eclipse.cdt.codan.core.prefs
/.settings/org.eclipse.cdt.managedbuilder.core.prefs
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.core.runtime.prefs
/3ballz.png
