# Finder related file
.DS_Store

# Eclipse files
.project
.cproject
Debug/**/*
Release/**/*
.settings/**/*

# Typical swap buffers
*~

# Vim files
*.vim
*.swp

# Binary files
*.[oa]

# Mysterious files...
*.gch

# Xcode files
*.xcodeproj
